<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>자산 목록</title>
    <th:block th:replace="~{layout/layout :: header}"></th:block>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h2>자산 목록 조회</h2>
    <table class="table table-hover mt-3">
        <thead class="table-light">
        <tr>
            <th>자산번호</th>
            <th>이름</th>
            <th>카테고리</th>
            <th>상태</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="asset : ${assets}">
            <td th:text="${asset.assetNo}">IT-2026-0001</td>
            <td><a th:href="@{/assets/{id}(id=${asset.assetNo})}" th:text="${asset.name}">노트북</a></td>
            <td th:text="${asset.category}">LAPTOP</td>
            <td>
                    <span class="badge"
                          th:classappend="${asset.status.name() == 'IN_STOCK' ? 'bg-success' :
                                          (asset.status.name() == 'ASSIGNED' ? 'bg-primary' :
                                          (asset.status.name() == 'REPAIR' ? 'bg-warning' : 'bg-danger'))}"
                          th:text="${asset.status.description}">보유 중</span>
            </td>
            <td th:text="${#temporals.format(asset.createdAt, 'yyyy-MM-dd')}">2026-03-11</td>
        </tr>
        </tbody>
    </table>
    <a href="/assets/new" class="btn btn-primary">
        자산 등록
    </a>
    <th:block th:replace="~{layout/layout :: footer}"></th:block>
</div>

</body>
</html>