<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>자산 수정</title>
  <th:block th:replace="~{layout/layout :: header}"></th:block>
</head>
<body>
<div class="container mt-5">
  <h2>자산 수정</h2>
  <form th:action="@{/assets/{id}/edit(id=${asset.id})}" th:object="${asset}" method="post" class="mt-4">

    <input type="hidden" th:field="*{id}">

    <div class="mb-3">
      <label class="form-label">자산번호</label>
      <input type="text" th:field="*{assetNo}" class="form-control" readonly> </div>
    <div class="mb-3">
      <label class="form-label">자산명</label>
      <input type="text" th:field="*{name}" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">상태</label>
      <select th:field="*{status}" class="form-select">
        <option th:each="stat : ${T(com.example.assetManagement.domain.asset.enums.AssetStatus).values()}"
                th:value="${stat}" th:text="${stat.description}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">수정 완료</button>
    <a th:href="@{/assets/{id}(id=${asset.id})}" class="btn btn-secondary">취소</a>
  </form>
</div>
</body>
</html>